.gridContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.galleryGrid {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
}

.galleryGrid img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
}
