.galleryWrapper {
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 80% 20%;
  background-color: rgba(32, 32, 32, 0.9);
  backdrop-filter: blur(5px);
  transform-origin: 0 0;
}

.galleryWrapper > * {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
}

.mainImageContainer {
  grid-area: 1 / 1 / 2 / -1;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, 0) scale(1);
  overflow: hidden;
  /* margin-top: 2rem; */
  transform-origin: 0 0;
}

.mainImageContainer > img {
  cursor: zoom-in;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  scale: 1;
  animation: fadeIn 300ms ease-out;
  transform-origin: 0 0;
}

.carouselWrapper {
  grid-area: 2 / 1 / 3 / -1;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.galleryContainer {
  padding: 0.5rem;
  height: 100%;
  width: auto;
  display: flex;
  overflow: visible;
  transition: all 0.2s ease-in-out;
  transform: translateX(0px);
  gap: 1rem;
}

.galleryContainer > img {
  max-height: 15vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
  opacity: 0.5;
}

.galleryContainer > img.centeredImage {
  opacity: 1;
}

.galleryContainer > img.portraitImage {
  max-height: 10vh;
}

.slideRightIcon {
  grid-area: 1 / 3 / 2 / 4;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 1rem;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideLeftIcon {
  transform: scaleX(-1);
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 1rem;
  background: none;
  color: inherit;
  border: none;
  cursor: poiznter;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exitFullScreenButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
  background-color: rgba(32, 32, 32, 0.5);
  transition: color 0.3s;
  font-size: 3rem;
  color: white;
  border: 1px, solid, white;
  border-radius: 1rem;
  z-index: 1;
}

.slideRightIcon > img,
.slideLeftIcon > img {
  height: 4rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  z-index: 1;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: none;
  transition: color 0.3s;
  font-size: 3rem;
  color: white;

  width: 3rem;
  height: 3rem;

  padding: 0;
  border: none;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

body[data-orientation="landscape"] .slideRightIcon,
body[data-orientation="landscape"] .slideLeftIcon {
  align-self: center;
}

body[data-orientation="landscape"] .galleryContainer {
  gap: 0.7rem;
}

body[data-orientation="portrait"] .slideRightIcon,
body[data-orientation="portrait"] .slideLeftIcon {
  align-self: flex-end;
}
